#list>table{
    width:100%;
    margin-top: 25px;
    border-collapse: collapse;
}
#list>table>tbody>tr:first-child {
    background: #4c7da6;
    color: white;
    cursor:pointer;
}
#list>table>tbody tr:first-child > td:last-child,
#list>table>tbody tr:first-child > td:nth-child(3)  {
    cursor:auto;
}
#list>table>tbody tr:first-child > td:last-child:hover,
#list>table>tbody tr:first-child > td:nth-child(3):hover{
    box-shadow: none;
}
#list>table>tbody>tr:first-child > td:hover{
    box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.2);
}
#list table>tbody>tr:first-child > td[tooltip]{
    cursor: pointer;
}
#list table>tbody>tr{
    width: 100%;
}
#list>table>tbody>tr>td{
    padding: 10px 15px;
    border: 1px solid #a5a5a5;
}
#list>table>tbody>tr>td>select{
    width:100%;
    padding: 5px 7px;
}
#list>table>tbody tr>td>a{
    display: block;
    font-size: 14px;
    cursor: pointer;
    color: #a0a2a2;
    text-align: center;
    text-decoration: none;
}
#list table>tbody tr>td>a:hover {
    color:#4c7da6;
}

#list table>tbody>tr>td:nth-child(3){
    width: 175px;
}
#list>table>tbody>tr>td>table{
    width:100%;
    border-collapse: collapse;
}
#list>table>tbody>tr>td>table>tbody>tr>td:nth-child(2){
    width: 175px;
    text-align: center;
}
#ci-paginator{
    margin-top: 1%;
}
#ci-paginator  .like-label {
    text-decoration: none;
    padding: 2px 4px;
    color:#4c7da6;
}
#ci-paginator .active {
    background: #4c7da6;
    color:white;
}
h2.empty-header{
    text-align: center;
    padding: 15px 0;
    border-top: 2px dashed #a4a5a6;
    border-bottom: 2px dashed #a4a5a6;
}


#form-filter>div.field{
    width: 40%;
    margin-top: 5px;
}
#form-filter>div.field>label{
    width: 25%;
    display: inline-block;
    text-align: right;
}
#form-filter>div.field>select{
    padding: 5px 7px;
    width: 54%;
}
#form-filter>div.field>input{
    padding: 5px 7px;
    width: 50%;
}
#form-filter>div.field:last-child{
    margin-left: 12%;
    display: inline-block;
}
#form-filter>div.field:last-child>button{
    width: 96px;
    display: inline-block;
    padding: 5px 7px;
    text-align: center;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
button.search{
    border: none;
    background: #4CAF50;
}
button.search:hover{
    box-shadow: inset 0 0 14px 8px rgba(128,200,131,0.4);
}
button.refresh:hover{
    box-shadow: inset 0 0 14px 8px rgba(233,147,147,0.4);
}
button.refresh{
    border: none;
    background: #db4c4c;
}
#form-filter .tqDates input{
    width: 22% !important;
}
.tqCenter{
    text-align: center;
}