/*region Icons Base*/
.ui-btn[class*="ui-btn-icon-"],
.ui-btn-split[class*="ui-btn-icon-"] .ui-btn-main,
.ui-btn-double[class*="ui-btn-icon-"] .ui-btn-main {
	padding-left: calc(var(--ui-btn-height) + 8px );
}

.ui-btn[class*="ui-btn-icon-"]:not(input):empty,
.ui-btn-split[class*="ui-btn-icon-"] .ui-btn-main:empty,
.ui-btn-double[class*="ui-btn-icon-"] .ui-btn-main:empty,
.ui-btn[class*="ui-btn-icon-"].ui-btn-empty:not(input),
.ui-btn-split[class*="ui-btn-icon-"].ui-btn-empty .ui-btn-main,
.ui-btn-double[class*="ui-btn-icon-"].ui-btn-empty .ui-btn-main {
	padding: 0;
	min-width: 0;
	width: var(--ui-btn-height);
	height: var(--ui-btn-height);
}

.ui-btn[class*="ui-btn-icon-"]:not(input):empty:after,
.ui-btn-split[class*="ui-btn-icon-"] .ui-btn-main:empty:after,
.ui-btn-double[class*="ui-btn-icon-"] .ui-btn-main:empty:after,
.ui-btn[class*="ui-btn-icon-"].ui-btn-empty:not(input):after,
.ui-btn-split[class*="ui-btn-icon-"].ui-btn-empty .ui-btn-main:after,
.ui-btn-double[class*="ui-btn-icon-"].ui-btn-empty .ui-btn-main:after {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.ui-btn:after,
.ui-btn-main:after {
	position: absolute;
	top: 50%;
	left: 8px;
	display: block;
	transform: translateY(-50%);
	width: 27px;
	height: 27px;
	background: no-repeat center;
	background-image: var(--ui-btn-icon);
	content: '';
	transition: 160ms color linear, 160ms transform linear, 160ms opacity linear, 160ms background-color linear;
}

/*endregion*/

/*region Icons list*/
/*region ui-btn-icon-add-folder*/
.ui-btn-icon-add-folder.ui-btn,
.ui-btn-icon-add-folder.ui-btn-split,
.ui-btn-icon-add-folder.ui-btn-double,
.ui-btn-icon-add-folder.ui-btn-danger,
.ui-btn-icon-add-folder.ui-btn-primary,
.ui-btn-icon-add-folder.ui-btn-default,
.bitrix24-light-theme .ui-btn-icon-add-folder.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-add-folder-white.svg?v=1.1); }

.ui-btn-icon-add-folder.ui-btn-danger-dark,
.ui-btn-icon-add-folder.ui-btn-success-dark,
.ui-btn-icon-add-folder.ui-btn-primary-dark,
.ui-btn-icon-add-folder.ui-btn-link,
.ui-btn-icon-add-folder.ui-btn-light,
.ui-btn-icon-add-folder.ui-btn-success,
.ui-btn-icon-add-folder.ui-btn-secondary,
.ui-btn-icon-add-folder.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-add-folder.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-add-folder-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-business*/
.ui-btn-icon-business.ui-btn,
.ui-btn-icon-business.ui-btn-split,
.ui-btn-icon-business.ui-btn-double,
.ui-btn-icon-business.ui-btn-danger,
.ui-btn-icon-business.ui-btn-primary,
.ui-btn-icon-business.ui-btn-default,
.ui-btn-icon-business.ui-btn-danger-dark,
.ui-btn-icon-business.ui-btn-success-dark,
.ui-btn-icon-business.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-business.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-white.svg?v=1.1); }

.ui-btn-icon-business.ui-btn-link,
.ui-btn-icon-business.ui-btn-light,
.ui-btn-icon-business.ui-btn-success,
.ui-btn-icon-business.ui-btn-secondary,
.ui-btn-icon-business.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-business.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-business-confirm*/
.ui-btn-icon-business-confirm.ui-btn,
.ui-btn-icon-business-confirm.ui-btn-split,
.ui-btn-icon-business-confirm.ui-btn-double,
.ui-btn-icon-business-confirm.ui-btn-danger,
.ui-btn-icon-business-confirm.ui-btn-primary,
.ui-btn-icon-business-confirm.ui-btn-default,
.ui-btn-icon-business-confirm.ui-btn-danger-dark,
.ui-btn-icon-business-confirm.ui-btn-success-dark,
.ui-btn-icon-business-confirm.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-business-confirm.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-confirm-white.svg?v=1.1); }

.ui-btn-icon-business-confirm.ui-btn-link,
.ui-btn-icon-business-confirm.ui-btn-light,
.ui-btn-icon-business-confirm.ui-btn-success,
.ui-btn-icon-business-confirm.ui-btn-secondary,
.ui-btn-icon-business-confirm.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-business-confirm.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-confirm-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-disk*/
.ui-btn-icon-disk.ui-btn,
.ui-btn-icon-disk.ui-btn-split,
.ui-btn-icon-disk.ui-btn-double,
.ui-btn-icon-disk.ui-btn-danger,
.ui-btn-icon-disk.ui-btn-primary,
.ui-btn-icon-disk.ui-btn-default,
.ui-btn-icon-disk.ui-btn-danger-dark,
.ui-btn-icon-disk.ui-btn-success-dark,
.ui-btn-icon-disk.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-disk.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-disk-light.svg?v=1.1); }

.ui-btn-icon-disk.ui-btn-link,
.ui-btn-icon-disk.ui-btn-light,
.ui-btn-icon-disk.ui-btn-success,
.ui-btn-icon-disk.ui-btn-secondary,
.ui-btn-icon-disk.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-disk.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-disk-dark.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-done*/
.ui-btn-icon-done.ui-btn,
.ui-btn-icon-done.ui-btn-split,
.ui-btn-icon-done.ui-btn-double,
.ui-btn-icon-done.ui-btn-danger,
.ui-btn-icon-done.ui-btn-primary,
.ui-btn-icon-done.ui-btn-default,
.ui-btn-icon-done.ui-btn-danger-dark,
.ui-btn-icon-done.ui-btn-success-dark,
.ui-btn-icon-done.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-done.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-done-light.svg?v=1.1); }

.ui-btn-icon-done.ui-btn-link,
.ui-btn-icon-done.ui-btn-light,
.ui-btn-icon-done.ui-btn-success,
.ui-btn-icon-done.ui-btn-secondary,
.ui-btn-icon-done.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-done.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-done-dark.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-business-warning*/
.ui-btn-icon-business-warning.ui-btn,
.ui-btn-icon-business-warning.ui-btn-split,
.ui-btn-icon-business-warning.ui-btn-double,
.ui-btn-icon-business-warning.ui-btn-danger,
.ui-btn-icon-business-warning.ui-btn-primary,
.ui-btn-icon-business-warning.ui-btn-default,
.ui-btn-icon-business-warning.ui-btn-danger-dark,
.ui-btn-icon-business-warning.ui-btn-success-dark,
.ui-btn-icon-business-warning.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-business-warning.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-warning-white.svg?v=1.1); }

.ui-btn-icon-business-warning.ui-btn-link,
.ui-btn-icon-business-warning.ui-btn-light,
.ui-btn-icon-business-warning.ui-btn-success,
.ui-btn-icon-business-warning.ui-btn-secondary,
.ui-btn-icon-business-warning.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-business-warning.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-business-process-warning-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-add*/
.ui-btn-icon-add.ui-btn,
.ui-btn-icon-add.ui-btn-split,
.ui-btn-icon-add.ui-btn-double,
.ui-btn-icon-add.ui-btn-danger,
.ui-btn-icon-add.ui-btn-primary,
.ui-btn-icon-add.ui-btn-default,
.ui-btn-icon-add.ui-btn-danger-dark,
.ui-btn-icon-add.ui-btn-success-dark,
.ui-btn-icon-add.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-add.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-plus-white.svg?v=1.1); }

.ui-btn-icon-add.ui-btn-link,
.ui-btn-icon-add.ui-btn-light,
.ui-btn-icon-add.ui-btn-success,
.ui-btn-icon-add.ui-btn-secondary,
.ui-btn-icon-add.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-add.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-plus-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-setting*/
.ui-btn-icon-setting.ui-btn,
.ui-btn-icon-setting.ui-btn-split,
.ui-btn-icon-setting.ui-btn-double,
.ui-btn-icon-setting.ui-btn-danger,
.ui-btn-icon-setting.ui-btn-primary,
.ui-btn-icon-setting.ui-btn-default,
.ui-btn-icon-setting.ui-btn-danger-dark,
.ui-btn-icon-setting.ui-btn-success-dark,
.ui-btn-icon-setting.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-setting.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-setting-white.svg?v=1.1); }

.ui-btn-icon-setting.ui-btn-link,
.ui-btn-icon-setting.ui-btn-light,
.ui-btn-icon-setting.ui-btn-success,
.ui-btn-icon-setting.ui-btn-secondary,
.ui-btn-icon-setting.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-setting.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-setting-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-unfollow*/
.ui-btn-icon-unfollow.ui-btn,
.ui-btn-icon-unfollow.ui-btn-split,
.ui-btn-icon-unfollow.ui-btn-double,
.ui-btn-icon-unfollow.ui-btn-danger,
.ui-btn-icon-unfollow.ui-btn-primary,
.ui-btn-icon-unfollow.ui-btn-default,
.ui-btn-icon-unfollow.ui-btn-danger-dark,
.ui-btn-icon-unfollow.ui-btn-success-dark,
.ui-btn-icon-unfollow.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-unfollow.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-unfollow-white.svg?v=1.1); }

.ui-btn-icon-unfollow.ui-btn-link,
.ui-btn-icon-unfollow.ui-btn-light,
.ui-btn-icon-unfollow.ui-btn-success,
.ui-btn-icon-unfollow.ui-btn-secondary,
.ui-btn-icon-unfollow.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-unfollow.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-unfollow-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-follow*/
.ui-btn-icon-follow.ui-btn,
.ui-btn-icon-follow.ui-btn-split,
.ui-btn-icon-follow.ui-btn-double,
.ui-btn-icon-follow.ui-btn-danger,
.ui-btn-icon-follow.ui-btn-primary,
.ui-btn-icon-follow.ui-btn-default,
.ui-btn-icon-follow.ui-btn-danger-dark,
.ui-btn-icon-follow.ui-btn-success-dark,
.ui-btn-icon-follow.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-follow.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-follow-white.svg?v=1.1); }

.ui-btn-icon-follow.ui-btn-link,
.ui-btn-icon-follow.ui-btn-light,
.ui-btn-icon-follow.ui-btn-success,
.ui-btn-icon-follow.ui-btn-secondary,
.ui-btn-icon-follow.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-follow.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-follow-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-task*/
.ui-btn-icon-task.ui-btn,
.ui-btn-icon-task.ui-btn-split,
.ui-btn-icon-task.ui-btn-double,
.ui-btn-icon-task.ui-btn-danger,
.ui-btn-icon-task.ui-btn-primary,
.ui-btn-icon-task.ui-btn-default,
.ui-btn-icon-task.ui-btn-danger-dark,
.ui-btn-icon-task.ui-btn-success-dark,
.ui-btn-icon-task.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-task.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-task-white.svg?v=1.1); }

.ui-btn-icon-task.ui-btn-link,
.ui-btn-icon-task.ui-btn-light,
.ui-btn-icon-task.ui-btn-success,
.ui-btn-icon-task.ui-btn-secondary,
.ui-btn-icon-task.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-task.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-task-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-search*/
.ui-btn-icon-search.ui-btn,
.ui-btn-icon-search.ui-btn-split,
.ui-btn-icon-search.ui-btn-double,
.ui-btn-icon-search.ui-btn-danger,
.ui-btn-icon-search.ui-btn-primary,
.ui-btn-icon-search.ui-btn-default,
.ui-btn-icon-search.ui-btn-danger-dark,
.ui-btn-icon-search.ui-btn-success-dark,
.ui-btn-icon-search.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-search.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-search-white.svg?v=1.1); }

.ui-btn-icon-search.ui-btn-link,
.ui-btn-icon-search.ui-btn-light,
.ui-btn-icon-search.ui-btn-success,
.ui-btn-icon-search.ui-btn-secondary,
.ui-btn-icon-search.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-search.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-search-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-list*/
.ui-btn-icon-list.ui-btn,
.ui-btn-icon-list.ui-btn-split,
.ui-btn-icon-list.ui-btn-double,
.ui-btn-icon-list.ui-btn-danger,
.ui-btn-icon-list.ui-btn-primary,
.ui-btn-icon-list.ui-btn-default,
.ui-btn-icon-list.ui-btn-danger-dark,
.ui-btn-icon-list.ui-btn-success-dark,
.ui-btn-icon-list.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-list.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-list-white.svg?v=1.1); }

.ui-btn-icon-list.ui-btn-link,
.ui-btn-icon-list.ui-btn-light,
.ui-btn-icon-list.ui-btn-success,
.ui-btn-icon-list.ui-btn-secondary,
.ui-btn-icon-list.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-list.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-list-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-print*/
.ui-btn-icon-print.ui-btn,
.ui-btn-icon-print.ui-btn-split,
.ui-btn-icon-print.ui-btn-double,
.ui-btn-icon-print.ui-btn-danger,
.ui-btn-icon-print.ui-btn-primary,
.ui-btn-icon-print.ui-btn-default,
.ui-btn-icon-print.ui-btn-danger-dark,
.ui-btn-icon-print.ui-btn-success-dark,
.ui-btn-icon-print.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-print.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-print-white.svg?v=1.1); }

.ui-btn-icon-print.ui-btn-link,
.ui-btn-icon-print.ui-btn-light,
.ui-btn-icon-print.ui-btn-success,
.ui-btn-icon-print.ui-btn-secondary,
.ui-btn-icon-print.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-print.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-print-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-info*/
.ui-btn-icon-info.ui-btn,
.ui-btn-icon-info.ui-btn-split,
.ui-btn-icon-info.ui-btn-double,
.ui-btn-icon-info.ui-btn-danger,
.ui-btn-icon-info.ui-btn-primary,
.ui-btn-icon-info.ui-btn-default,
.ui-btn-icon-info.ui-btn-danger-dark,
.ui-btn-icon-info.ui-btn-success-dark,
.ui-btn-icon-info.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-info.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-info-white.svg?v=1.1); }

.ui-btn-icon-info.ui-btn-link,
.ui-btn-icon-info.ui-btn-light,
.ui-btn-icon-info.ui-btn-success,
.ui-btn-icon-info.ui-btn-secondary,
.ui-btn-icon-info.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-info.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-info-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-camera*/
.ui-btn-icon-camera.ui-btn,
.ui-btn-icon-camera.ui-btn-split,
.ui-btn-icon-camera.ui-btn-double,
.ui-btn-icon-camera.ui-btn-danger,
.ui-btn-icon-camera.ui-btn-primary,
.ui-btn-icon-camera.ui-btn-default,
.ui-btn-icon-camera.ui-btn-danger-dark,
.ui-btn-icon-camera.ui-btn-success-dark,
.ui-btn-icon-camera.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-camera.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-camera-white.svg?v=1.1); }

.ui-btn-icon-camera.ui-btn-link,
.ui-btn-icon-camera.ui-btn-light,
.ui-btn-icon-camera.ui-btn-success,
.ui-btn-icon-camera.ui-btn-secondary,
.ui-btn-icon-camera.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-camera.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-camera-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-phone-up*/
.ui-btn-icon-phone-up.ui-btn,
.ui-btn-icon-phone-up.ui-btn-split,
.ui-btn-icon-phone-up.ui-btn-double,
.ui-btn-icon-phone-up.ui-btn-danger,
.ui-btn-icon-phone-up.ui-btn-primary,
.ui-btn-icon-phone-up.ui-btn-default,
.ui-btn-icon-phone-up.ui-btn-danger-dark,
.ui-btn-icon-phone-up.ui-btn-success-dark,
.ui-btn-icon-phone-up.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-phone-up.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-up-white.svg?v=1.1); }

.ui-btn-icon-phone-up.ui-btn-link,
.ui-btn-icon-phone-up.ui-btn-light,
.ui-btn-icon-phone-up.ui-btn-success,
.ui-btn-icon-phone-up.ui-btn-secondary,
.ui-btn-icon-phone-up.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-phone-up.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-up-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-phone-down*/
.ui-btn-icon-phone-down.ui-btn,
.ui-btn-icon-phone-down.ui-btn-split,
.ui-btn-icon-phone-down.ui-btn-double,
.ui-btn-icon-phone-down.ui-btn-danger,
.ui-btn-icon-phone-down.ui-btn-primary,
.ui-btn-icon-phone-down.ui-btn-default,
.ui-btn-icon-phone-down.ui-btn-danger-dark,
.ui-btn-icon-phone-down.ui-btn-success-dark,
.ui-btn-icon-phone-down.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-phone-down.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-down-white.svg?v=1.1); }

.ui-btn-icon-phone-down.ui-btn-link,
.ui-btn-icon-phone-down.ui-btn-light,
.ui-btn-icon-phone-down.ui-btn-success,
.ui-btn-icon-phone-down.ui-btn-secondary,
.ui-btn-icon-phone-down.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-phone-down.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-phone-down-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-start*/
.ui-btn-icon-start.ui-btn,
.ui-btn-icon-start.ui-btn-split,
.ui-btn-icon-start.ui-btn-double,
.ui-btn-icon-start.ui-btn-danger,
.ui-btn-icon-start.ui-btn-primary,
.ui-btn-icon-start.ui-btn-default,
.ui-btn-icon-start.ui-btn-danger-dark,
.ui-btn-icon-start.ui-btn-success-dark,
.ui-btn-icon-start.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-start.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-play-white.svg?v=1.1); }

.ui-btn-icon-start.ui-btn-link,
.ui-btn-icon-start.ui-btn-light,
.ui-btn-icon-start.ui-btn-success,
.ui-btn-icon-start.ui-btn-secondary,
.ui-btn-icon-start.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-start.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-play-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-stop*/
.ui-btn-icon-stop.ui-btn,
.ui-btn-icon-stop.ui-btn-split,
.ui-btn-icon-stop.ui-btn-double,
.ui-btn-icon-stop.ui-btn-danger,
.ui-btn-icon-stop.ui-btn-primary,
.ui-btn-icon-stop.ui-btn-default,
.ui-btn-icon-stop.ui-btn-danger-dark,
.ui-btn-icon-stop.ui-btn-success-dark,
.ui-btn-icon-stop.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-stop.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-stop-white.svg?v=1.1); }

.ui-btn-icon-stop.ui-btn-link,
.ui-btn-icon-stop.ui-btn-light,
.ui-btn-icon-stop.ui-btn-success,
.ui-btn-icon-stop.ui-btn-secondary,
.ui-btn-icon-stop.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-stop.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-stop-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-back*/
.ui-btn-icon-back.ui-btn,
.ui-btn-icon-back.ui-btn-split,
.ui-btn-icon-back.ui-btn-double,
.ui-btn-icon-back.ui-btn-danger,
.ui-btn-icon-back.ui-btn-primary,
.ui-btn-icon-back.ui-btn-default,
.ui-btn-icon-back.ui-btn-danger-dark,
.ui-btn-icon-back.ui-btn-success-dark,
.ui-btn-icon-back.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-back.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-back-white.svg?v=1.1); }

.ui-btn-icon-back.ui-btn-link,
.ui-btn-icon-back.ui-btn-light,
.ui-btn-icon-back.ui-btn-success,
.ui-btn-icon-back.ui-btn-secondary,
.ui-btn-icon-back.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-back.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-back-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-pause*/
.ui-btn-icon-pause.ui-btn,
.ui-btn-icon-pause.ui-btn-split,
.ui-btn-icon-pause.ui-btn-double,
.ui-btn-icon-pause.ui-btn-danger,
.ui-btn-icon-pause.ui-btn-primary,
.ui-btn-icon-pause.ui-btn-default,
.ui-btn-icon-pause.ui-btn-danger-dark,
.ui-btn-icon-pause.ui-btn-success-dark,
.ui-btn-icon-pause.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-pause.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-pause-white.svg?v=1.1); }

.ui-btn-icon-pause.ui-btn-link,
.ui-btn-icon-pause.ui-btn-light,
.ui-btn-icon-pause.ui-btn-success,
.ui-btn-icon-pause.ui-btn-secondary,
.ui-btn-icon-pause.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-pause.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-pause-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-cloud*/
.ui-btn-icon-cloud.ui-btn,
.ui-btn-icon-cloud.ui-btn-split,
.ui-btn-icon-cloud.ui-btn-double,
.ui-btn-icon-cloud.ui-btn-danger,
.ui-btn-icon-cloud.ui-btn-primary,
.ui-btn-icon-cloud.ui-btn-default,
.ui-btn-icon-cloud.ui-btn-danger-dark,
.ui-btn-icon-cloud.ui-btn-success-dark,
.ui-btn-icon-cloud.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-cloud.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-cloud-white.svg?v=1.1); }

.ui-btn-icon-cloud.ui-btn-link,
.ui-btn-icon-cloud.ui-btn-light,
.ui-btn-icon-cloud.ui-btn-success,
.ui-btn-icon-cloud.ui-btn-secondary,
.ui-btn-icon-cloud.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-cloud.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-cloud-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-download*/
.ui-btn-icon-download.ui-btn,
.ui-btn-icon-download.ui-btn-split,
.ui-btn-icon-download.ui-btn-double,
.ui-btn-icon-download.ui-btn-danger,
.ui-btn-icon-download.ui-btn-primary,
.ui-btn-icon-download.ui-btn-default,
.ui-btn-icon-download.ui-btn-danger-dark,
.ui-btn-icon-download.ui-btn-success-dark,
.ui-btn-icon-download.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-download.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-download-white.svg?v=1.1); }

.ui-btn-icon-download.ui-btn-link,
.ui-btn-icon-download.ui-btn-light,
.ui-btn-icon-download.ui-btn-success,
.ui-btn-icon-download.ui-btn-secondary,
.ui-btn-icon-download.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-download.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-download-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-remove*/
.ui-btn-icon-remove.ui-btn,
.ui-btn-icon-remove.ui-btn-split,
.ui-btn-icon-remove.ui-btn-double,
.ui-btn-icon-remove.ui-btn-danger,
.ui-btn-icon-remove.ui-btn-primary,
.ui-btn-icon-remove.ui-btn-default,
.ui-btn-icon-remove.ui-btn-danger-dark,
.ui-btn-icon-remove.ui-btn-success-dark,
.ui-btn-icon-remove.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-remove.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-remove-white.svg?v=1.1); }

.ui-btn-icon-remove.ui-btn-link,
.ui-btn-icon-remove.ui-btn-light,
.ui-btn-icon-remove.ui-btn-success,
.ui-btn-icon-remove.ui-btn-secondary,
.ui-btn-icon-remove.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-remove.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-remove-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-share*/
.ui-btn-icon-share.ui-btn,
.ui-btn-icon-share.ui-btn-split,
.ui-btn-icon-share.ui-btn-double,
.ui-btn-icon-share.ui-btn-danger,
.ui-btn-icon-share.ui-btn-primary,
.ui-btn-icon-share.ui-btn-default,
.ui-btn-icon-share.ui-btn-danger-dark,
.ui-btn-icon-share.ui-btn-success-dark,
.ui-btn-icon-share.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-share.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-share-white.svg?v=1.1); }

.ui-btn-icon-share.ui-btn-link,
.ui-btn-icon-share.ui-btn-light,
.ui-btn-icon-share.ui-btn-success,
.ui-btn-icon-share.ui-btn-secondary,
.ui-btn-icon-share.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-share.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-share-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-edit*/
.ui-btn-icon-edit.ui-btn,
.ui-btn-icon-edit.ui-btn-split,
.ui-btn-icon-edit.ui-btn-double,
.ui-btn-icon-edit.ui-btn-danger,
.ui-btn-icon-edit.ui-btn-primary,
.ui-btn-icon-edit.ui-btn-default,
.ui-btn-icon-edit.ui-btn-danger-dark,
.ui-btn-icon-edit.ui-btn-success-dark,
.ui-btn-icon-edit.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-edit.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-edit-white.svg?v=1.1); }

.ui-btn-icon-edit.ui-btn-link,
.ui-btn-icon-edit.ui-btn-light,
.ui-btn-icon-edit.ui-btn-success,
.ui-btn-icon-edit.ui-btn-secondary,
.ui-btn-icon-edit.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-edit.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-edit-black.svg?v=1.1); }

/*endregion*/

/*region ui-btn-icon-page*/
.ui-btn-icon-page.ui-btn,
.ui-btn-icon-page.ui-btn-split,
.ui-btn-icon-page.ui-btn-double,
.ui-btn-icon-page.ui-btn-danger,
.ui-btn-icon-page.ui-btn-primary,
.ui-btn-icon-page.ui-btn-default,
.ui-btn-icon-page.ui-btn-danger-dark,
.ui-btn-icon-page.ui-btn-success-dark,
.ui-btn-icon-page.ui-btn-primary-dark,
.bitrix24-light-theme .ui-btn-icon-page.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-page-white.svg?v=1.2); }

.ui-btn-icon-page.ui-btn-link,
.ui-btn-icon-page.ui-btn-light,
.ui-btn-icon-page.ui-btn-success,
.ui-btn-icon-page.ui-btn-secondary,
.ui-btn-icon-page.ui-btn-light-border,
.bitrix24-dark-theme .ui-btn-icon-page.ui-btn-themes { --ui-btn-icon: url(/bitrix/js/ui/buttons/icons/images/ui-page-black.svg?v=1.2); }

/*endregion*/

/*endregion*/