.ui-viewer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
	/*overflow-y: auto;*/
	background: rgba(0,0,0,.88);
	opacity: 1;
	pointer-events: auto !important;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	animation: ui-viewer-animate-background .09s linear forwards;
}

.ui-viewer:focus {
	outline: none;
}
.ui-viewer-reading-mode .ui-viewer-close,
.ui-viewer-reading-mode .ui-viewer-next,
.ui-viewer-reading-mode .ui-viewer-prev,
.ui-viewer-reading-mode .ui-viewer-panel,
.ui-viewer.ui-viewer-reading-mode + .ui-action-panel,
.ui-viewer-reading-mode .ui-viewer-inner-caption {
	pointer-events: none;
	opacity: 0;
	transition: 1s;
}

.ui-viewer-reading-mode .ui-viewer-close {
	transform: translateX(100px);
}

.ui-viewer-reading-mode .ui-viewer-next {
	transform: translateX(100%);
}

.ui-viewer-reading-mode .ui-viewer-prev {
	transform: translateX(-100%);
}

.side-panel-disable-scrollbar .ui-viewer-panel {
	transform: translateX(-50%) !important;
}

.ui-viewer-hide {
	opacity: 0;
	transition: .2s;
}

@keyframes ui-viewer-animate-background {
	from {
		background: rgba(0,0,0,0);
	}
	to	{
		background: rgba(0,0,0,.88);
	}
}

.ui-viewer:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	user-select: none;
}

.ui-viewer-lock-body {
	overflow: hidden;
}

.ui-viewer-inner {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 100%;
	width: 98%;
	max-width: calc(100% - 170px);
}

.ui-viewer-document .ui-viewer-inner {
	vertical-align: top;
	height: calc(100% - 60px);
	width: 100%;
	max-width: none;
}

.ui-viewer-inner-content {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-viewer-inner-content-wrapper {
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	font-size: 0;
	height: 100%;
	cursor: default;
	animation: ui-viewer-inner-content-show .15s linear forwards;
}

@keyframes ui-viewer-inner-content-show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.ui-viewer-inner-content-wrapper:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	font-size: initial;
	height: 100%;
}

.ui-viewer-inner-content-wrapper > * {
	display: inline-block !important;
	overflow: hidden;
	vertical-align: middle !important;
	max-width: 100%;
	max-height: calc(100% - 210px); /** @see usage BX.UI.Viewer.Image.tryToExportResizedSrcFromSourceNode **/
}

.ui-viewer-document .ui-viewer-inner-content-wrapper > * {
	max-height: 100%;
	margin-top: 0;
}

.ui-viewer-document .ui-viewer-inner-content-wrapper pre {
	width: calc(100% - 300px);
	margin: auto auto 90px auto;
}

@media (max-width: 480px)  {
	.ui-viewer-document .ui-viewer-inner-content-wrapper pre {
		width: calc(100% - 80px);
	}
}

.ui-viewer-inner-caption,
.ui-viewer-inner-fullsize {
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	height: 85px;
	max-height: 85px;
	min-height: auto !important;
	margin: auto;
	line-height: 85px;
	text-align: center;
	font-family: "OpenSans-Regular", "Helvetica Neue", sans-serif;
	color: rgba(255,255,255,.6);
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.ui-viewer-document .ui-viewer-inner-caption span{
	display: inline-block;
	padding: 0 14px;
	background: rgba(0,0,0,.6);
	border-radius: 18px;
	line-height: 36px;
	color: #fff;
}

.ui-viewer-inner-caption {
	transition: .3s;
}

.ui-viewer-inner-fullsize {
	top: auto;
	bottom: -85px;
	line-height: normal;
}

.ui-viewer-inner-fullsize:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.ui-viewer-inner-fullsize a,
.ui-viewer-inner-fullsize a:hover {
	display: inline-block;
	vertical-align: middle;
	color: rgba(255,255,255,.6);
	text-decoration: none;
	font-size: 13px;
	border-bottom: 1px solid rgba(255,255,255,.3);
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.ui-viewer-prev,
.ui-viewer-next {
	position: absolute;
	top: 0;
	height: 100%;
	width: calc(50% - 300px);
	max-width: 350px;
	min-width: 80px;
	user-select: none;
	cursor: pointer;
	opacity: .6;
	transition: .3s;
}

.ui-viewer-prev:hover,
.ui-viewer-next:hover {
	opacity: 1;
}

.ui-viewer-prev {
	left: 0;
}

.ui-viewer-next {
	left: auto;
	right: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-viewer-prev:before,
.ui-viewer-next:before {
	content: '';
	position: absolute;
	top: 50%;
	width: 15px;
	height: 15px;
	border-left: 3px solid #a6a6a6;
	border-top: 3px solid #a6a6a6;
	backface-visibility: hidden;
	box-sizing: border-box;
}

.ui-viewer-prev:before {
	left: 35px;
	transform: translateY(-50%) rotate(-45deg);
}

.ui-viewer-next:before {
	right: 35px;
	transform: translateY(-50%) rotate(135deg);
}

.ui-viewer-navigation-hide {
	opacity: 0;
	pointer-events: none;
}

.ui-viewer-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 85px;
	height: 85px;
	cursor: pointer;
	z-index: 9;
	transition: .3s;
}

.ui-viewer-document .ui-viewer-close,
.ui-viewer-document .ui-viewer-next {
	right: 18px;
}

.ui-viewer-close-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -18px;
	width: 32px;
	height: 32px;
	border: 2px solid rgba(255,255,255,.23);
	border-radius: 50%;
	background-color: rgba(0,0,0,.1);
	opacity: 1;
	transition: .3s;
}

.ui-viewer-close:hover .ui-viewer-close-icon {
	border: 2px solid rgba(255,255,255,.7);
	background-color: rgba(0,0,0,.1);
}

.ui-viewer-close-icon:after,
.ui-viewer-close-icon:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 2px;
	background: #a6a6a6;
	transition: .3s;
}

.ui-viewer-close-icon:before {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.ui-viewer-close-icon:after {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.ui-viewer-close:hover .ui-viewer-close-icon:before,
.ui-viewer-close:hover .ui-viewer-close-icon:after {
	background: #fff;
}

.ui-viewer-error {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-family: "OpenSans-Light", "Helvetica Neue", sans-serif;
	white-space: normal;
	text-align: left;
}

.ui-viewer-error-title,
.ui-viewer-info-title {
	display: block;
	overflow: hidden;
	font-size: 28px;
	padding-left: 39px;
}

.ui-viewer-error-title a,
.ui-viewer-info-title a,
.ui-viewer-error-title a:hover,
.ui-viewer-info-title a:hover {
	display: inline-block;
	color: rgba(255,255,255,.8);
	border-bottom: 1px solid rgba(255,255,255,.4);
	transition: .1s;
}

.ui-viewer-error-title a:hover,
.ui-viewer-info-title a:hover {
	color: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(255,255,255,.7);
}

.ui-viewer-error-title:before,
.ui-viewer-info-title:before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 26px;
	height: 22px;
	margin: 10px 12px 0 -39px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2226px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2026%2022%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20stroke%3D%22%23FF5752%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20points%3D%2212%200%2024%2021%200%2021%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3Crect%20fill%3D%22%23FF5752%22%20x%3D%2211%22%20y%3D%227%22%20width%3D%221.54545787%22%20height%3D%227%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20fill%3D%22%23FF5752%22%20cx%3D%2212%22%20cy%3D%2217%22%20r%3D%221%22%3E%3C/circle%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') center center no-repeat;
}

.ui-viewer-info-title:before {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M12.2160757%2C7.79611793%20C12.8134362%2C7.79611793%2013.2976403%2C7.31191383%2013.2976403%2C6.71507965%20C13.2976403%2C6.11771917%2012.8134362%2C5.63351507%2012.2160757%2C5.63351507%20C11.6187152%2C5.63351507%2011.1350375%2C6.11771917%2011.1350375%2C6.71507965%20C11.1350375%2C7.31191383%2011.6187152%2C7.79611793%2012.2160757%2C7.79611793%20Z%20M13.061854%2C10.1513498%20L10.3408375%2C10.1513498%20L10.3408375%2C11.1423893%20L11.5745053%2C11.1423893%20L11.5745053%2C17.5254624%20L10.3787317%2C17.5254624%20L10.3787317%2C18.5170282%20L14.2049967%2C18.5170282%20L14.2049967%2C17.5254624%20L13.061854%2C17.5254624%20L13.061854%2C10.1513498%20Z%20M12.0144995%2C22.881707%20C6.24615502%2C22.881707%201.56990134%2C18.2054534%201.56990134%2C12.4371089%20C1.56990134%2C6.66823817%206.24615502%2C1.9925108%2012.0144995%2C1.9925108%20C17.7833702%2C1.9925108%2022.4590976%2C6.66823817%2022.4590976%2C12.4371089%20C22.4590976%2C18.2054534%2017.7833702%2C22.881707%2012.0144995%2C22.881707%20Z%20M12.0144995%2C0.769253317%20C5.57042586%2C0.769253317%200.34664961%2C5.99302956%200.34664961%2C12.4371032%20C0.34664961%2C18.8811768%205.57042586%2C24.1054908%2012.0144995%2C24.1054908%20C18.4585731%2C24.1054908%2023.6823493%2C18.8811768%2023.6823493%2C12.4371032%20C23.6823493%2C5.99302956%2018.4585731%2C0.769253317%2012.0144995%2C0.769253317%20Z%22%20transform%3D%22translate%28.178%20-.452%29%22/%3E%3C/svg%3E') center center no-repeat;
	height: 24px;
	margin-top: 9px;
}

.ui-viewer-error-text,
.ui-viewer-info-text {
	font-size: 13px;
	line-height: 22px;
	color: rgba(255,255,255,.8);
	padding-left: 39px;
	margin-top: 20px;
}

.ui-viewer-error-text:empty,
.ui-viewer-info-text:empty {
	margin-top: 0;
}

.ui-viewer-error-text a,
.ui-viewer-info-text a,
.ui-viewer-error-text a:hover,
.ui-viewer-info-text a:hover {
	display: inline-block;
	color: rgba(255,255,255,.8);
	border-bottom: 1px solid rgba(255,255,255,.3);
	transition: .1s;
}

.ui-viewer-error-text a:hover,
.ui-viewer-info-text a:hover {
	color: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(255,255,255,.6);
}

.ui-viewer-info-title + .ui-viewer-error-text,
.ui-viewer-info-title + .ui-viewer-info-text {
	display: inline-block;
	margin-top: 20px;
}

.viewer-inner-caption,
.viewer-inner-fullsize {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 85px;
	margin: auto;
	width: 100%;
	line-height: 85px;
	text-align: center;
	font-family: "OpenSans-Regular", "Helvetica Neue", sans-serif;
	color: #fff;
	font-size: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.viewer-inner-fullsize {
	top: auto;
	height: auto;
	bottom: 73px;
	line-height: normal;
}

.viewer-inner-fullsize:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.viewer-inner-fullsize a,
.viewer-inner-fullsize a:hover {
	display: inline-block;
	vertical-align: middle;
	color: rgba(255,255,255,.6);
	text-decoration: none;
	font-size: 13px;
	border-bottom: 1px solid rgba(255,255,255,.3);
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.ui-viewer-panel {
	position: absolute;
	bottom: 0;
	height: 60px;
	background: rgba(0,0,0,.8);
	width: calc(100% - 170px);
	left: 50%;
	transform: translateX(-50%);
	transition: .3s;
}

.ui-viewer-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ui-viewer-loader-container {
	display: block;
	height: 130px;
	position: relative;
	margin-bottom: 40px;
}

.ui-viewer-loader-text {
	display: block;
	text-align: center;
	font-size: 28px;
	color: #fff;
	font-family: "OpenSans-Light", sans-serif;
}

.ui-viewer-panel:before,
.ui-viewer-panel:after {
	content: '';
	position: absolute;
	width: 170px;
	height: 100%;
	top: 0;
	background: inherit;
}

.ui-viewer-panel:before {
	left: -170px;
}

.ui-viewer-panel:after {
	right: -170px;
}

.ui-action-panel-wrapper .ui-btn,
.ui-action-panel-wrapper .ui-btn:active {
	color: #fff !important;
}

.ui-action-panel-wrapper .ui-btn {
	opacity: .8;
}

.ui-action-panel-wrapper .ui-btn:hover {
	opacity: 1;
}

.ui-action-panel-wrapper .ui-btn:after,
.ui-action-panel-wrapper .ui-btn-main:after {
	filter: brightness(1000%);
}

.ui-action-panel-wrapper .ui-btn[class*="ui-btn-icon-"],
.ui-action-panel-wrapper .ui-btn-double[class*="ui-btn-icon-"] .ui-btn-main {
	transition: .1s;
	padding-left: 37px;
}

.ui-action-panel-wrapper .ui-btn-disabled {
    opacity: .4 !important;
}

.ui-viewer + .ui-action-panel {
	top: auto !important;
	transition: .3s;
	bottom: 0 !important;
	position: fixed;
	left: 50% !important;
	transform: translateX(-50%);
}

.ui-viewer-document-page-canvas {
	display: block;
	margin: 5px auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.ui-viewer-document-page-canvas:last-child {
	margin-bottom: 80px;
}

.ui-viewer-document-hlcode .ui-viewer-inner-content-wrapper > * {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.ui-viewer-unsupported {
	padding: 40px 34px 34px 34px;
	background: rgba(255,255,255,.06);
	border: 1px solid rgba(255,255,255,.14);
	border-radius: 2px;
	text-align: center;
}

.ui-viewer-unsupported:before {
	content: '';
	display: inline-block;
	margin-bottom: 14px;
	width: 66px;
	height: 66px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2266%22%20height%3D%2266%22%20viewBox%3D%220%200%2066%2066%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M33.5701151%2C19.8735149%20C35.2596205%2C19.8735149%2036.6290875%2C18.5040795%2036.6290875%2C16.8161015%20C36.6290875%2C15.126635%2035.2596205%2C13.7571995%2033.5701151%2C13.7571995%20C31.8806096%2C13.7571995%2030.5126312%2C15.126635%2030.5126312%2C16.8161015%20C30.5126312%2C18.5040795%2031.8806096%2C19.8735149%2033.5701151%2C19.8735149%20Z%20M35.9622166%2C26.5346274%20L28.2664076%2C26.5346274%20L28.2664076%2C29.3375045%20L31.7555713%2C29.3375045%20L31.7555713%2C47.3902358%20L28.3735833%2C47.3902358%20L28.3735833%2C50.1946014%20L39.1953496%2C50.1946014%20L39.1953496%2C47.3902358%20L35.9622166%2C47.3902358%20L35.9622166%2C26.5346274%20Z%20M33%2C62.5388709%20C16.6854803%2C62.5388709%203.45970402%2C49.3133995%203.45970402%2C32.9992557%20C3.45970402%2C16.6836235%2016.6854803%2C3.45964055%2033%2C3.45964055%20C49.3160083%2C3.45964055%2062.540296%2C16.6836235%2062.540296%2C32.9992557%20C62.540296%2C49.3133995%2049.3160083%2C62.5388709%2033%2C62.5388709%20Z%20M33%2C0%20C14.7743259%2C0%200%2C14.7739854%200%2C32.9992395%20C0%2C51.2244936%2014.7743259%2C66%2033%2C66%20C51.2256741%2C66%2066%2C51.2244936%2066%2C32.9992395%20C66%2C14.7739854%2051.2256741%2C0%2033%2C0%20Z%22/%3E%3C/svg%3E');
}

.ui-viewer-unsupported-title {
	display: block;
	padding: 0 30px;
	overflow: hidden;
	font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: #fff;
}

.ui-viewer-unsupported-text {
	display: block;
	padding: 20px 20px 23px 20px;
	margin-top: 27px;
	border-top: 1px solid rgba(255,255,255,.14);;
	opacity: .8;
	font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #fff;
	text-align: center;
	line-height: 24px;
}

.ui-viewer-unsupported .ui-btn-themes.ui-btn-light-border {
	border-color: rgba(255, 255, 255, .4);
}

.ui-viewer-unsupported .ui-btn-themes.ui-btn-light-border {
	background-color: rgba(255, 255, 255, .15);
	color: #fff;
}

.ui-viewer-unsupported .ui-btn-themes.ui-btn-light:hover,
.ui-viewer-unsupported .ui-btn-themes.ui-btn-light-border:hover {
	background-color: rgba(255, 255, 255, .3);
}

.ui-viewer-unsupported .ui-btn-themes.ui-btn-light:active,
.ui-viewer-unsupported .ui-btn-themes.ui-btn-light-border:active {
	background-color: rgba(255, 255, 255, .4);
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin {
	overflow: hidden;
	box-sizing: border-box;
	padding: 0;
	max-width: 100%;
	width: 310px;
	height: 52px;
	border-radius: 26px;
	background: rgba(255,255,255,.06);
	border: 1px solid rgba(255,255,255,.14);
}

.ui-viewer .vjs-audio .vjs-control-bar {
	position: relative;
	width: auto;
	left: auto;
	right: auto;
	height: 100%;
	background: transparent;
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-slider-bar:after,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-slider-bar:before {
	display: none;
	content: normal;
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-icon-pause,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-icon-played,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-play-control.vjs-button,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-play-control.vjs-playing,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-play-control.vjs-paused {
	top: 8px;
	left: 12px;
	width: 34px;
	height: 34px;
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 50%;
	color: #fff;
}

.ui-viewer .vjs-audio .vjs-progress-control .vjs-mouse-display {
	background: rgba(255,255,255,.4);
	height: auto;
	top: 2px;
	bottom: 2px;
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-icon-pause:hover,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-icon-played:hover,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-play-control.vjs-button:hover,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-play-control.vjs-playing:hover,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-play-control.vjs-paused:hover{
	border-color: rgba(255,255,255,.7);
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-control:before {
	font-size: 22px;
	line-height: 33px;
	width: 33px;
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-progress-control {
	position: absolute;
	width: 165px;
	overflow: hidden;
	left: 67px;
	display: block;
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-remaining-time {
	position: absolute;
	right: 22px;
	padding: 0;
	line-height: 52px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: rgba(255,255,255,.81);
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-play-progress.vjs-slider-bar {
	width: 167px;
	height: 52px;
	overflow: hidden;
	background: none;
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-play-progress.vjs-slider-bar:before {
	content: '';
	width: 167px;
	height: 52px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('../images/ui-viwer-mask-blue.svg') 0 center no-repeat;
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-progress-control .vjs-progress-holder {
	height: 52px;
	margin: 0;
	padding: 0;
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-slider {
	background: url('../images/ui-viwer-mask-white.svg') 0 center no-repeat;
}

.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-progress-holder .vjs-load-progress,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-fullscreen-control,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-volume-menu-button,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-time-divider,
.ui-viewer .vjs-audio.vjs-viewer-audio-player-skin .vjs-duration,
.ui-viewer .vjs-audio.vjs-progress-holder .vjs-load-progress {
	display: none;
}


.ui-viewer-pdf-text-layer {
	position: relative;
	left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
	color: transparent;
    line-height: 1.0;
	z-index: 99;
}

.ui-viewer-pdf-text-layer > div {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
	user-select: text !important;
    transform-origin: 0% 0%;
}

.ui-viewer-pdf-annotation-layer {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
	pointer-events: none;
	z-index: 999;
}

.ui-viewer-pdf-annotation-layer > section {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}

.ui-viewer-pdf-annotation-layer > .linkAnnotation > a {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	pointer-events: auto;
	target-name: new;
	target-new: tab;
}